
/*
style.css
---------
Par Malick Fal pour GOMYCODE
*/
/*===================
	Font de la page 
=====================*/


body{
	background-color: black;
    font-family: 'Roboto';
	color:#e60909;
}
h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}   


h1
p
{
 text-align: justify;
}
.signature
{
 text-align: right;
}
h1
{
 color: maroon;
}


a /* Liens par défaut (non survolés) */
{
 text-decoration: none;
 color: rgb(72, 0, 255);
 font-style: 'Roboto';
 font-size: 30px;
}
a:hover /* Apparence au survol des liens */
{
 text-decoration: underline;
}

/* Ombre de texte */
p
{
 text-shadow: 2px 2px 4px black;
}

/*===================
	Bar de navigation
=====================*/
.header{
	background-color:#ffffff;
	position:relative;
}
.header .navbar-collapse{
	padding:0;
}
/* Topbar */
.header .topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
}
.header .topbar{
	padding:15px 0;
}
.header .top-link{
	float:left;
}
.header .top-link li{
	display:inline-block;
	margin-right:15px;
}
.header .top-link li:last-child{
	margin-right:0px;
}
.header .top-link li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}
.header .top-link li:hover a{
	color:#1A76D1;
}
.header .top-contact{
	float:right;
}
.header .top-contact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
.header .top-contact li:last-child{
	margin-right:0;
}
.header .top-contact li a{
	font-size:14px;
}
.header .top-contact li a:hover{
	color:#1A76D1;
}
.header .top-contact li i{
	color:#1A76D1;
	margin-right:8px;
}
.header .header-inner {
	background:#fff;
	z-index:999;
	width:100%;
}
.get-quote{
	margin-top:12px;
}
.get-quote .btn{
	color:#fff;
}
.header .logo {
	float: left;
	margin-top: 18px;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}
